.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-family: Arial;

}


.form{
	width: 700px;
	height: 700px;
	position: absolute;
	left: 100px;
	top: 200px;
	border-radius: 10px;

}

.user-icon{
    
    width: 1.875em;
    left:0.625em;
    border-width: 0.3em;
    border-color: black;
}
.form-group{
	width: 500px;
	height: 600px;
	position: absolute;
	left: 1200px;
	top: 200px;
	border-radius: 10px;
}


.carousel-item > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	height: 40rem;
	margin: 0 auto;
	border-radius: 15px;
  }

.carousel {
    
    margin-top: 130px;
    padding-left: 80px;
    padding-right: 80px;
	
}
  /* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
  
  /* Declare heights because of positioning of img element */
.carousel-item {
    height: 40rem;
    width: 40rem;

    background-color: rgba(255, 255, 255, 0);
    
  }
.carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    /* min-width: 100%; */
    height: 40rem;
    margin: 0 auto;
}

