body, html {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/two.jpg);
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.bg-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-family: Arial, serif;
    z-index: 1;
}

.jumbotron {
    text-align: center;
    background: linear-gradient(to top, rgba(2, 2, 14, 0.8) 60%, rgba(2, 2, 14, 0.8) 20%);
    /* background: #3271a8; */
    width: 60%;
    height: 37em;
}

.buttn {
    background-color: #3271a8;
    font-size: 0.75em;
    color: white;
    /* padding: 2em; */
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    height: 5em;
    width: 7.5em;
}


.buttn:hover {
    background-color: white;
    color: #3271a8;
}

.content {
    height: 30em;
    padding: 3em;
}

.txtbox {
    background-color: black;
    color: white;
}

/* .form{
	width: 700px;
	height: 700px;
	position: absolute;
	left: 100px;
	top: 200px;
	border-radius: 10px;

}

.form-group{
	width: 500px;
	height: 600px;
	position: absolute;
	left: 1200px;
	top: 200px;
	border-radius: 10px;
} */
.user-icon {
    width: 1.875em;
    left: 0.625em;
    border-width: 0.3em;
    border-color: black;
}


.carousel-item > img {
    padding-top: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-33.5em, -8em);
    height: 22rem;
    width: 35%;
    object-fit: fill;
}

.carousel {
    margin-top: 100px;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -100%);
    /*    padding-top: 40px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 40px;*/

}

/*/* Declare heights because of positioning of img element */
.carousel-item {
    position: fixed;
    height: 50rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0);
}

.form {
    height: 21rem;
    width: 20rem;
    position: absolute;
    display: block;
    color: #ff7200;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%);
    padding: 20px;
}