body,html {
	background: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/two.jpg);
	height:100%;
}
.bg-image {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-family: Arial;
    z-index: 1;
}

.jumbotron{
	text-align:center;
	margin:5% auto, 5% auto;
	margin-left: 20%;
	margin-right: 20%;
	background: linear-gradient(to top,rgba(2, 2, 14, 0.8)60%,rgba(2, 2, 14, 0.8)20%);
  /* background: #3271a8; */
	width: 60%;
	height: 37em;
}

.buttn {
	background-color: #3271a8;
	font-size:2em;
	color: white;
	/* padding: 2em; */
	margin: auto;
	border: none;
	cursor: pointer;
	border-radius: 1em;
	height: 2em;
	width: 10em;
}

.buttn:hover{
	background-color: white;
	color: #3271a8;
}

.content{
	height: 30em;
	padding: 3em;
}
.txtbox{
  background-color: black;
  color: white;
}
/* .form{
	width: 700px;
	height: 700px;
	position: absolute;
	left: 100px;
	top: 200px;
	border-radius: 10px;

}

.form-group{
	width: 500px;
	height: 600px;
	position: absolute;
	left: 1200px;
	top: 200px;
	border-radius: 10px;
} */
.user-icon{
    width: 1.875em;
    left:0.625em;
    border-width: 0.3em;
    border-color: black;
}



.carousel-item > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40rem;
	width: 70rem ;
	margin: 0 auto;
	border-radius: 15px;

  }

.carousel {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
/*    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;*/
		
}

  /*/* Declare heights because of positioning of img element */
.carousel-item {
    height: 40rem;
    width: 40rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    
  }
